body{
    background-color: rgb(26, 6, 97);
}

button{
    font-size: 50px;
    background-color: cadetblue;
    padding: 10px 100px;
    color: white;
    border: white solid 2px;
    display: block;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left: 20px;
}

.botao-diferente{
    font-size: 50px;
    background-color: cadetblue;
    padding: 10px 100px;
    color: white;
    border: white solid 2px;
}

